# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Flask
instance/
.webassets-cache

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (just in case)
node_modules/

# MySQL / DB junk
*.db
